* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 62.5%;
}
.container {
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
p {
    text-align: center;
    font-size: 3rem;
}
pre {
    white-space: pre-wrap;
    font-size: 1.4rem;
}
.example {
    display: flex;
    justify-content: space-around;
}
.example_input {
    padding: 20px;
}
.example_result {
    padding: 20px;
}
.practice {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
#input {
    width: 40%;
    height: 200px;
    border: 1px solid black;
}
#result {
    width: 40%;
    height: 200px;
    border: 1px solid black;
}
button {
    width: 100px;
    height: fit-content;
    padding: 10px;
    margin-bottom: 20px;
}
#copy_alert {
    position: absolute;
    left: 50%;
    top: 20px;
    font-size: 1.5rem;
    transform: translateX(-50%);
}

.action {
    display: flex;
    flex-direction: column;
}
